
/* General styles */

@font-face {
    src: url(fonts/Morganite-Light.ttf);
    font-family: morganite;
}

@font-face {
    src: url(fonts/Morganite-ExtraBold.ttf);
    font-family: morganite-bold;
}



.container {
    max-width: 100vw;
    text-align: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

h1 {
    font-size: 10em;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 0;
    padding: 0;
    line-height: 0.5em;
    padding-top: 5rem;
}

p {
    margin-bottom: 0;
    font-size: 1rem;
}

h3 {
    letter-spacing: 0.07em;
    color: white;
    font-family: morganite;
    font-size: 2rem;
}

a {
    text-decoration: none;
    color: white;
}

/* Navegation */

.navbar {
    background-color: transparent;
    position: absolute;
    z-index: 3;
    transition: ease 1s;
    display: flex;
    width: 100vw;
    font-family: 'Aboreto', cursive;
}

.navbar:hover {
    background-color: #ffffffc0;
}

.nav-container a {
    margin: 1rem;
    text-decoration: none;
    color: black;
    
}

.project-list {
    display: flex;
    flex-direction: column;
    margin-inline-start: 8px;
}

.project-list:first-child {
    border-top: 1px solid black;
}



/* Main page */

main {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.header-text {
    position: absolute;
    color: #ffffff;
    opacity: 0.85;
    font-family: morganite;
    text-align: center;
    width: 1000px;
    justify-content: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100%;

}

.header-text p {
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.08em;
}

.main-video {
   max-width: 120vw;
   min-height: 100vh;
   z-index: 1;
}

.card-text {
    font-size: 0.1em im !important;
}

.play-button {
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
    font-size: 2.5rem;
}

/* Video section */

.video-icon {
    color: white;
    font-size: 2rem;
    justify-content: center;
    margin-top: 2rem;
    font-size: 3rem;
    
}

.introduction-video-overlay {
    position: absolute;
    z-index: 3;
    top: 0;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: none;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
}

.ease-video {
    color: white;
    transition: 1s ease;
}

.hide-video {
    background-color: transparent;
    color: white;
    border: none;
}


/* Projects */

.collapse {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 4fr;
    grid-gap: 1rem;
}

.collapse h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    
}

.project-text {
    grid-row: 2 / 3;
}

.collapse video {
    height: 400px;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.project-heading {
    border-bottom: 1px solid black;
}

.project-link-text {
    background-color: transparent;
    color: black;
    padding: 1rem;
    text-align: center;
    transition: 1s ease;
    border: 1px solid black;
}

.project-link-text:hover {
    background-color: black;
    color: white;
}

/* Bio */

.bio {
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: none;
}

.bio-container {
    background-color: white;
    font-family: 'Aboreto', cursive;
    padding: 2rem;
    margin: 7rem 20rem;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
}

.bio-text {
    grid-column: 2 / 3;
}

.bio-text h2{
    border-bottom: 1px black;
}

.bio-text a {
    color: black;
}

.bio-photo {
    height: 400px;
    grid-row: 1 /3;
}

.hide-bio {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
}
